@import "tailwindcss";


@layer components {
  .section-subtitle {
    @apply text-cyan-600 font-semibold uppercase tracking-wider text-sm;
  }

  .section-title {
    @apply text-3xl md:text-4xl font-bold text-slate-800 leading-tight;
  }

  .card-btn {
  @apply inline-flex cursor-pointer items-center gap-2 px-4 py-2 rounded-md
    bg-transparent text-cyan-700 font-medium border border-transparent
    transition-all duration-200 hover:border-cyan-700
    active:scale-105;
  }
  
}


.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}